<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
   <script src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
     google.charts.load('current', {packages: ['corechart']});     
   </script>
</head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Customer || Homepage</title>
<style>
body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
</style>

</head>
<body>
<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <%=firstName%> 
                    </a>
                </li>
                <li>
                    <a href="/customerHomepage">Dashboard</a>
                </li>
                <li>
                    <a href="/billing">Billing</a>
                </li>
                <li>
                    <a href="/subscription">Subscribe</a>
                </li>
                <li>
                    <a href="/getRequestSensor">Request Sensor</a>
                </li>
                <li>
                    <a href="/liveSensor">Live Sensor Track</a>
                </li>
                <li>
                    <a href="#">Subscription History</a>
                </li>
                <li>
                    <a href="/mySensors">My Sensors</a>
                </li>
                
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Dashboard</h1>
                        
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
                <div class="row">
<div id="map" style="width:100%;height:500px"></div>

<script>

function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: {lat: 37.3333775, lng: -121.9129983},
      mapTypeId: 'terrain'
    });
    
    
    var lineSymbol = {
            path: google.maps.SymbolPath.CIRCLE,
            scale: 8,
            strokeColor: '#393'
          };
    
    
 var flightPlanCoordinates=[];
    
    <% for (var i in results) {%>
	abc={ lat: <%= results[i].lattitude %>, lng: <%= results[i].longitude %>};
	flightPlanCoordinates.push(abc);
	

<% } %>
    /* var flightPlanCoordinates = [
      
		{lat: 0.22x899000346661, lng:37.30777359008789 },
      {lat:0.23029999434948 , lng: 37.30535888671875},
      {lat:0.22845999896526 , lng:37.30212020874023 },
      {lat:0.22763998806477 , lng: 37.30067825317383},
	  {lat: 0.22410000860691, lng:37.30423355102539 },
	  {lat:0.19539000093937 , lng: 37.30944061279297},
	  {lat:0.19009999930859 , lng:37.31313705444336 },
	  {lat: 0.18797999620438, lng:37.31250000000000 }
	
    ]; */
    /* var flightPath = new google.maps.Polyline({
      path: flightPlanCoordinates,
      geodesic: true,
      strokeColor: '#FF0000',
      strokeOpacity: 1.0,
      strokeWeight: 2
    });

    flightPath.setMap(map);
  } */
  
  
  /* [{lat: 0.190099, lng: 37.3131}, {lat: 0.227, lng: 37.3006}] */
  var line = new google.maps.Polyline({
      path: flightPlanCoordinates,
	<!-- path: [{lat: 0.22x8, lng:37.30 }, {lat: 0.18, lng:37.31 }],   -->
      icons: [{
        icon: lineSymbol,
        offset: '100%'
      }],
      map: map
    });

    animateCircle(line);
  }
  
  
  
function animateCircle(line) {
    var count = 0;
    window.setInterval(function() {
      count = (count + 1) % 100;

      var icons = line.get('icons');
      icons[0].offset = (count / 2) + '%';
      line.set('icons', icons);
  }, 500);
}</script>
<h1>Lattitude: 51.5032520</h1>
<h1>Lattitude: -0.1278990</h1>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMQSHK-zbF7QwdSOSA8GN4ljjS3h0gHas&callback=initMap"></script>

            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>


	
</body>
</html>
